.portal-upgrades {
  padding: 12px 24px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 26px;
  width: 300px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  line-height: 24px;
}

p {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 16px;
  line-height: 18px;
}


.portal-upgrade {
  margin-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);

  h2 {
    padding-top: 16px;
    margin: 0;
    margin-bottom: 8px;
    text-shadow: 2px 2px black;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;

    display: flex;
    align-items: center;

    mat-icon {
      margin-left: 8px;
      text-shadow: none;
      background: white;
      border-radius: 26px;
      transform: scale(0.8);
    }
  }


  button {
    color: white;
    text-shadow: 2px 2px black;

    img {
      height: 20px;
    }
  }
}

.mat-stroked-button {
  color: white;
  text-shadow: 2px 2px black;

  img {
    height: 20px;
  }
}
