@use 'mixins';

:host {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  height: 100%;
  width: 100%;
  padding: 32px;
}

h3 {
  margin: 0;
  margin-bottom: 4px;
  text-align: center;
}

h1 {
  margin: 64px 0;
  text-align: center;
}

.mat-raised-button {
  color: white;
}

.level-wrapper {
  padding: 0 32px;
}

.levels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;

  max-width: 1280px;
  margin: 0 auto;
}

.level {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 26px;
  padding: 0 12px;

  h3 {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 24px 0;
  }

  &-image {
    height: 200px;
    width: 400px;
    border-radius: 6px;
    background-size: cover;
    background-repeat: nor-repeat;
    background-position: center;
  }

  button {
    display: block;
    margin: 24px auto;
  }

  p {
    margin: 24px auto;
    color: lightgrey;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    padding: 11px 0;
  }

  &.active {
    border: 2px solid mixins.primaryColor(600);
  }
}
