<div class="game-menu-wrapper">
  <div class="game-stats">
    <div class="health">
      <img src="../../../assets/images/heart-icon.png" width="40" />
      {{ levelHealthSubject$?.value }}
    </div>
    <div class="gold">
      <img src="../../../assets/images/gold-icon.png" width="40" />
      {{ levelGoldSubject$?.value }}
    </div>
    <div class="waves">
      <img src="../../../assets/images/wave-icon.png" height="30" />
      {{ currentWaveSubject$?.value }} / {{ lastWaveSubject$?.value }}
    </div>
  </div>
  <div class="game-portals">

    <div class="game-portal"
        [class.enabled]="portalPurchasable(PortalPrice.FIRE)"
        [class.active]="(activePortalElement$ | async ) == PortalElement.FIRE"
        (click)="onActivatePortal(PortalElement.FIRE, PortalPrice.FIRE)">
      <div class="game-portal-option game-portal-fire"></div>
      <p>{{ PortalPrice.FIRE }}</p>
    </div>

    <div class="game-portal"
        [class.enabled]="portalPurchasable(PortalPrice.ICE)"
        [class.active]="(activePortalElement$ | async ) == PortalElement.ICE"
        (click)="onActivatePortal(PortalElement.ICE, PortalPrice.ICE)">
      <div class="game-portal-option game-portal-ice"></div>
      <p>{{ PortalPrice.ICE }}</p>
    </div>

    <div class="game-portal"
        [class.enabled]="portalPurchasable(PortalPrice.ARCANE)"
        [class.active]="(activePortalElement$ | async ) == PortalElement.ARCANE"
        (click)="onActivatePortal(PortalElement.ARCANE, PortalPrice.ARCANE)">
      <div class="game-portal-option game-portal-arcane"></div>
      <p>{{ PortalPrice.ARCANE }}</p>
    </div>

  </div>
  <div class="game-actions">
    <a class="button" [routerLink]="['/home']">Go back</a>
    <a class="button button-warn" (click)="onDeactivatePortal()" *ngIf="(activePortalElement$|async) !== null">Cancel</a>
  </div>
</div>

<div class="game-wrapper">
  <div id="portals-td-container"></div>
</div>
