@use 'mixins';

:host {
  @include mixins.pageComponent();
}

.game-menu {
  height: 10vh;
  padding: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  .button {
    @include mixins.defaultButton();

    &+.button {
      margin-left: 16px;
    }
  }
}

.game-wrapper {
  height: 80vh;
}

#portals-td-container {
  text-align: center;
}
