<div class="game-menu-wrapper">
  <div class="game-stats">
    <div class="health">
      <img src="../../../assets/images/heart-icon.png" />
      <span>{{ levelHealthSubject$?.value }}</span>
    </div>
    <div class="gold">
      <img src="../../../assets/images/gold-icon.png" />
      <span>{{ levelGoldSubject$?.value }}</span>
    </div>
    <div class="waves">
      <img src="../../../assets/images/wave-icon.png" />
      <span>{{ currentWaveSubject$?.value }} / {{ lastWaveSubject$?.value }}</span>
    </div>
  </div>
  <div class="game-portals">

    <div class="game-portal"
        [class.enabled]="portalPurchasable(PortalPrice.FIRE)"
        [class.active]="(activePortalElement$ | async ) == PortalElement.FIRE"
        (click)="onActivatePortal(PortalElement.FIRE, PortalPrice.FIRE)">
      <div class="game-portal-option game-portal-fire"></div>
      <p>{{ PortalPrice.FIRE }}</p>
    </div>

    <div class="game-portal"
        [class.enabled]="portalPurchasable(PortalPrice.ICE)"
        [class.active]="(activePortalElement$ | async ) == PortalElement.ICE"
        (click)="onActivatePortal(PortalElement.ICE, PortalPrice.ICE)">
      <div class="game-portal-option game-portal-ice"></div>
      <p>{{ PortalPrice.ICE }}</p>
    </div>

    <div class="game-portal"
        [class.enabled]="portalPurchasable(PortalPrice.POISON)"
        [class.active]="(activePortalElement$ | async ) == PortalElement.POISON"
        (click)="onActivatePortal(PortalElement.POISON, PortalPrice.POISON)">
      <div class="game-portal-option game-portal-poison"></div>
      <p>{{ PortalPrice.POISON }}</p>
    </div>

    <div class="game-portal"
        [class.enabled]="portalPurchasable(PortalPrice.ARCANE)"
        [class.active]="(activePortalElement$ | async ) == PortalElement.ARCANE"
        (click)="onActivatePortal(PortalElement.ARCANE, PortalPrice.ARCANE)">
      <div class="game-portal-option game-portal-arcane"></div>
      <p>{{ PortalPrice.ARCANE }}</p>
    </div>

    <div class="game-portal"
        [class.enabled]="portalPurchasable(PortalPrice.HOLY)"
        [class.active]="(activePortalElement$ | async ) == PortalElement.HOLY"
        (click)="onActivatePortal(PortalElement.HOLY, PortalPrice.HOLY)">
      <div class="game-portal-option game-portal-holy"></div>
      <p>{{ PortalPrice.HOLY }}</p>
    </div>

    <div class="game-portal"
        [class.enabled]="portalPurchasable(PortalPrice.MIND)"
        [class.active]="(activePortalElement$ | async ) == PortalElement.MIND"
        (click)="onActivatePortal(PortalElement.MIND, PortalPrice.MIND)">
      <div class="game-portal-option game-portal-mind"></div>
      <p>{{ PortalPrice.MIND }}</p>
    </div>

  </div>
  <div class="game-actions">
    <button mat-fab color="primary" *ngIf="!(gameStarted$ | async)" (click)="startGame()">
      <mat-icon>play_arrow</mat-icon>
    </button>

    <ng-container *ngIf="gameStarted$ | async">
      <button mat-fab color="accent" *ngIf="!(pausedState$ | async)" (click)="togglePause(true)">
        <mat-icon>pause</mat-icon>
      </button>

      <button mat-fab color="primary" *ngIf="pausedState$ | async" (click)="togglePause(false)">
        <mat-icon>pause</mat-icon>
      </button>

      <button mat-fab color="primary" *ngIf="fastForwardState$ | async" (click)="toggleFastForward(false)">
        <mat-icon>fast_forward</mat-icon>
      </button>

      <button mat-fab color="accent" *ngIf="!(fastForwardState$ | async)" (click)="toggleFastForward(true)">
        <mat-icon>fast_forward</mat-icon>
      </button>
    </ng-container>


    <button mat-fab color="accent" (click)="onExitGame()">
      <mat-icon>exit_to_app</mat-icon>
    </button>

    <button mat-fab color="warn" (click)="onDeactivatePortal()" *ngIf="(activePortalElement$|async) !== null">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>

<div class="game-wrapper">
  <div id="portals-td-container"></div>
</div>

<div class="portal-upgrade-container">
  <app-portal-upgrade
    [portal]="currentPortal$ | async"
    [portalClass]="currentPortalClass$ | async"
    [currentGold]="levelGoldSubject$?.value"
    (portalSold)="onPortalSold()">
  </app-portal-upgrade>
</div>

