@use 'mixins';

:host {
  @include mixins.pageComponent();
}

.game-menu-wrapper {
  height: 10vh;
  width: 100%;
  max-width: 1728.64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button {
    @include mixins.defaultButton();

    &+.button {
      margin-left: 16px;
    }
  }
}

.game-stats {
  color: white;
  font-size: 24px;
  font-weight: bold;
  flex-basis: 25%;

  display: flex;
  flex-wrap: wrap;

  div {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
    }

    & + div {
      margin-left: 16px;
    }
  }

  .waves {
    span {
      font-size: 12px;
    }
    p {
      margin: 0;
      font-size: 24px;
    }
  }
}

.game-portals {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  flex-shrink: 0;

  .game-portal {
    border-radius: 4px;
    border: 2px solid grey;
    background: #252525;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-option {
      height: 32px;
      width: 32px;
      flex-shrink: 0;
      flex-grow: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../../../assets/sprites/portals.png');
    }

    &-fire {
      background-position-x: -64px;
      background-position-y: 0;
    }

    &-ice {
      background-position-x: -160px;
      background-position-y: 0;
    }

    &-arcane {
      background-position-x: 0;
      background-position-y: 0;
    }

    &.active {
      background-color: white;
    }

    &.enabled {
      border-color: white;

      p {
        color: white;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &+.game-portal {
      margin-left: 12px;
    }

    p {
      margin: 0;
      padding-top: 8px;
      color: grey;
      font-weight: 500;
      font-size: 16px;
    }
  }
}

.game-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 25%;
}

.game-wrapper {
  height: 80vh;
}

#portals-td-container {
  text-align: center;
}
