@use 'sass:map';
@use 'node_modules/@angular/material/theming';
@use 'variables';

// Functions
@function primaryColor($color-value:500, $opacity: 1) {
  $primary: map-get(variables.$portalstd-app-theme, primary);
  @return theming.mat-get-color-from-palette($primary, $color-value, $opacity);
}

@function accentColor($color-value:500, $opacity: 1) {
  $accent: map-get(variables.$portalstd-app-theme, accent);
  @return theming.mat-get-color-from-palette($accent, $color-value, $opacity);
}


@mixin pageComponent() {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

  h1 {
    text-align: center;
  }
}

@mixin defaultButton() {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: lightseagreen;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 26px;

  &:hover {
    background-color: darken(lightseagreen, 5%);
    cursor: pointer;
  }

  &-warn {
    background-color: darken(lightcoral, 10%);

    &:hover {
      background-color: lightcoral;
    }
  }

}
