@mixin pageComponent() {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

  h1 {
    text-align: center;
  }
}

@mixin defaultButton() {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: lightseagreen;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 26px;

  &:hover {
    background-color: darken(lightseagreen, 5%);
    cursor: pointer;
  }

  &+a {
    margin-top: 8px;
  }

}
